:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --akcent: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: #212121;
}
.list {
  list-style: none;
}

/*Logotipe*/
.logotipe {
  color: var(--primary-text-color);
}
.logo {
  color: var(--akcent);
}

/*Site-navigation*/
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--akcent);
}

/*Auth-navigation*/
.auth-nav .link {
  color: var(--secondary-text-color);
}
.auth-nav :hover,
.site-nav :focus {
  color: var(--akcent);
}

/*Button*/
.button {
  background-color: var(--akcent);
  color: #ffffff;
}

.section-title {
  color: var(--primary-text-color);
}

.future-list {
}

/*Цвет основного текста #212121*/
/*Цвет второгстепенного текста #757575*/
/*Цвет акцента #2196F3*/
/*b g color #E5E5E5*/
/* footer color #2F303A*/
