body {
  background-color: #e5e5e5;
  color: #212121;
}
.list {
  list-style: none;
}

/*Logotipe*/
.logotipe {
  color: #212121;
}
.logo {
  color: #2196f3;
}

/*Site-navigation*/
.site-nav .link {
  color: #212121;
}
.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}

/*Auth-navigation*/
.auth-nav .link {
  color: #757575;
}
.auth-nav :hover,
.site-nav :focus {
  color: #2196f3;
}

/*Button*/
.button {
  background-color: #2196f3;
  color: #ffffff;
}
/*Цвет основного текста #212121*/
/*Цвет второгстепенного текста #757575*/
/*Цвет акцента #2196F3*/
/*b g color #E5E5E5*/
/* footer color #2F303A*/
